%li{ id: pattern.name.parameterize }
  %h2= pattern.name
  .description
    :markdown
      #{pattern.description}
  .instructions
    %h3 Instructions
    :markdown
      #{pattern.instructions}
  .example
    %h3 Example
    = render_haml pattern.haml
    %pre
      = pattern.haml
  - pattern.tag_list.split(',').each  do |tag|
    = link_to tag, tag_path(tag.strip)
