!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title= "Layout Example - SB Style Guide"
    = javascript_include_tag "lib/modernizr"
    = sassie_stylesheets "application"
    = javascript_include_tag  "application"
  %body.page_classes
    = yield

